In [1]:
a=1000
b=2000
print(a+b)

3000

In [2]:
a=input("Enter a value:")
b=input("Enter b value:")
print(a+b)

Enter a value:1000
Enter b value:2000
10002000

In [3]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:1000
1000 <class 'str'>

In [4]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:dfjksjdfkljdsf
dfjksjdfkljdsf <class 'str'>

In [5]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [6]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:(1,2,3,4)
(1,2,3,4) <class 'str'>

In [7]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:{1,2,3,4}
{1,2,3,4} <class 'str'>

In [8]:
a="[1,2,3,4]"
print(a, type(a))
b='(1,2,3,4)'
print(b, type(b))
c="{1,2,3,4}"
print(c, type(c))

[1,2,3,4] <class 'str'>
(1,2,3,4) <class 'str'>
{1,2,3,4} <class 'str'>

In [9]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:1234
1234 <class 'str'>

In [10]:
a=input("Enter a value:")
print(a, type(a))
b=input("Enter b value:")
print(b, type(b))
res1=a+b# concatenation
print(res1)
a=int(a)
b=int(b)
print(a, type(a))
print(b, type(b))
res=a+b# summation
print(res)

Enter a value:1000
1000 <class 'str'>
Enter b value:20
20 <class 'str'>
100020
1000 <class 'int'>
20 <class 'int'>
1020

In [11]:
# take two numners from the user and do all arithmatic operations(+,-,*,/,//,%)
number1=input("Enter number 1:")
number2=input("Enter number 2:")
number1=int(number1)
number2=int(number2)
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1//number2)
print(number1%number2)

Enter number 1:12
Enter number 2:34
46
-22
408
0.35294117647058826
0
12

In [12]:
# take two numners from the user and do all arithmatic operations(+,-,*,/,//,%)
number1=input("Enter number 1:")
number2=input("Enter number 2:")
number1=int(number1)
number2=int(number2)
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1//number2)
print(number1%number2)

Enter number 1:12.34
Enter number 2:56

ValueError: invalid literal for int() with base 10: '12.34'

In [13]:
# take two numners from the user and do all arithmatic operations(+,-,*,/,//,%)
number1=input("Enter number 1:")
number2=input("Enter number 2:")
number1=float(number1)
number2=float(number2)
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1//number2)
print(number1%number2)

Enter number 1:12.34
Enter number 2:56
68.34
-43.66
691.04
0.22035714285714286
0.0
12.34

In [14]:
# take two numners from the user and do all arithmatic operations(+,-,*,/,//,%)
number1=float(input("Enter number 1:"))#"12.34", float("12.34")
number2=float(input("Enter number 2:"))
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1//number2)
print(number1%number2)

Enter number 1:12.34
Enter number 2:34
46.34
-21.66
419.56
0.3629411764705882
0.0
12.34

In [15]:
# take two numners from the user and do all arithmatic operations(+,-,*,/,//,%)
number1=input("Enter number 1:")
number2=input("Enter number 2:")
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)
print(number1//number2)
print(number1%number2)

Enter number 1:12
Enter number 2:34.56
1234.56

TypeError: unsupported operand type(s) for -: 'str' and 'str'